<!DOCTYPE html>
<html lang="<%= language %>">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="<%= cssSrc %>" >
    <script src="<%= scriptSrc %>"></script>
  </head>
  <body>
    <header class="container py-4 d-flex flex-row justify-content-around">
      <div>
        <h1 id="Page-title"><%= title %></h1>
      </div>
      <nav>
        <a href=<%= navLink %> >
          <img src="<%= navImage.src %>" alt="<%= navImage.alt %>" title="<%= navImage.title %>"  id="lang-changer">
        </a>
      </nav>
    </header>
    <main class="container text-center py-5">
      <form id="input-form">
        <div class="form-group">
          <label id="year-label" class="form-label fw-bold" for="year-input"><%= yearLabel %> </label>
          <input
            class="form-input"
            type="number"
            min="1"
            max="<%= yearInputMax %>"
            placeholder="<%= yearInputPlaceholder %>" 
            id="year-input"
            name="year"
            required
          />
          <div class="invalid-feedback"><%= invalidFeedback %> </div>
        </div>
        <div class="form-group pt-3">
          <button
            class="btn btn-primary"
            id="submit-btn"
            type="submit"
          ><%= submitBtn %> </button>
        </div>
      </form>
      <output id="output" class="row pt-5">
        <h5 class="col-sm-6 p-2 text-sm-end"> <%= centuryHeading %> </h5>
        <div class="col-sm-6 p-2 text-sm-start" id="century-output"></div>
      </output>
    </main>
  </body>
</html>
